div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
}



#first {
  border: 1px solid;
  padding: 15px;
  margin-bottom: 70px;

}


#second {
  border: 1px solid;
padding-left: 60px;
padding-right: 60px;
padding-top: 30px;
padding-bottom: 30px;
margin: 7px;
}


#third {
  border: 1px solid;
  padding: 25px;
  padding-bottom: 40px;
  margin-bottom:  50px;
}

#fourth {
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 135px;
  padding-right: 90px;

}